.box {

    border-top-left-radius: 20px;
    background-color: $box-bg;
    padding: 15px 22px 15px 22px;
    margin-bottom: 20px;

    &-subforms {
        $c: &; // var to define the ".box-subforms"

        padding: 0;
        padding-bottom: 14px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;

        border-top-left-radius: 20px;
        border-top-right-radius: 5px;

        max-height: 50px;
        transition: all $speed-animation;

        &-form {
            overflow: hidden;

            opacity: 0;
            height: 0;
            max-height: 0;
            transition: max-height $speed-animation, opacity $speed-animation;
        }

        form {
            padding-left: 2px;
            padding-right : 2px;
        }

        &.active {
            height: auto;
            max-height: $form-max-height;
            background-color: $box-bg;

            #{$c}-form {
                opacity: 1;
                height: auto;
                max-height: $form-max-height;
            }
        }

        &.not-active {
            height: auto !important;
            max-height: 50px !important;
            background-color: transparent;

            transition: all $speed-animation-fast;

            #{$c}-form {
                opacity: 0;
                height: auto !important;
                max-height: 0 !important;
                transition: max-height $speed-animation-fast, opacity $speed-animation-fast;
            }
        }

        &.create {
            background-color: $form-bg-create;
        }

        label {
            text-align: center;
            width: 100%;
        }

        .custom-switch {
            label {
                text-align: left;
                padding-left: 0;
                width: auto;
            }
        }

        &--title {
            font-size: 18px;
            color: $font-color;
            text-align: left;
            text-transform: uppercase;

            padding-top: 0px;
            padding-bottom: 5px;
        }

        &--thumb {
            border-top-left-radius: 20px;
            background-color: $white;
            border: 1px solid $form-inputs-border-color;
            height: 102px;
            margin-bottom: 10px;
            overflow: hidden;

            img {
                object-fit: cover;
            }
        }

        &--footer {
            text-align: center;
            padding-top: 10px;

            margin: auto;

            .btn {
                width: 100%;
            }
        }
    }

    &-title {
        display: flex;
        align-items: center;

        font-weight: $font-semibold;
        font-size: 15px;
        color: $color-primary-dark;

        margin-bottom: 18px;

        @media (max-width: 768px) {
            margin-bottom: 10px;
        }

        &--icon {
            $size: 31px;
            width: $size;
            height: $size;
            margin-right: 8px;
        }
    }

    &-body {

        &--title {
            font-size: 20px;
            color: black;
        }

        &--btns {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media (max-width: 768px) {
                margin-top: 24px;
            }

            .btn {
                margin-bottom: 4px;

                @media (max-width: 768px) {
                   max-width: 40%;
                   margin-bottom: 0px;
                }
            }
        }

        &--text {
            line-height: 14px;
        }
    }

    &-secondary {
        background-color: $box-bg-secondary;
        box-shadow: inset -6px 0px 0px 0px rgba($color-primary , 1);

        .box-title { //box-title--icon
            &--icon {
                $size: 31px;
                width: $size;
                height: $size;
                margin-right: 10px;
            }
        }
    }

    &-login {
        height: 100%;
        min-height: 100vh;
        color : white;

        display: flex;
        justify-content: center;
        align-items: center;

        .text-welcome {
            margin-bottom: 100px;
            text-align: center;
            font-style: italic;

            @media (max-width: 768px) {
                margin-bottom: 30px;
            }
        }

        &_logo {
            margin-bottom: 30px;
        }

        .btn {
            &:hover {
                background-color: white;
                color: $btn-bg;
            }
        }

        a {
            transition:   .5s;
            // font-size: 12px;
            &:hover {
                color: #C46262;
                text-decoration: none;
            }
        }

        label, a {
            color : white;
            width: max-content;
            margin: auto;
        }
    }

    &-notifications {

        min-width: 330px;
        border: 1px solid #BBBBBB;
        border-radius: 1px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        box-shadow: 5px 5px 9px -2px rgba(0,0,0,0.25);

        &--header {
            background-color: $body-bg;
            min-height: 40px;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 20px;
            text-align: center;
            text-transform: uppercase;
            color: white;
        }

        &--item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.25);

            padding-top: 10px;
            padding-bottom: 10px;

            &_icon {
                $size: 50px; // 29px;
                width: $size;
                height: $size;

                background-color: grey;

                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 100%;

                padding: 10px;
                margin-left: 8px;

                margin-right: 20px;

                img {
                    height: 100%;
                    object-fit: scale-down;
                }

                &.document {
                    background-color: $blue;
                }
                &.documents {
                    background-color: $green;
                }
                &.warning {
                    background-color: $red-dark;
                }
            }

            &_body {
                flex: 1;

                &-date {
                    font-size: 15px;
                    font-weight: $font-semibold;
                    color: #BBBBBB;
                }

                &-text {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 20px;
                    color: #656565;
                }
            }
        }

        &--link {
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 15px;
            color: $blue;

            min-height: 50px;
        }
    }

    &-office {
        $padding                : 14px;

        border-top-left-radius  : $top-left-radio;
        overflow                : hidden;
        background-color        : $box-bg;

        display                 : flex;
        flex-direction          : column;
        min-height              : 100%;

        &--youroffice  {
            border: 2px solid $blue;
        }

        &_img {
            object-fit          : cover;
            width               : 100%;
            min-height          : 140px;
            max-height          : 140px;
            overflow: hidden;
        }

        &_body {
            padding-left        : $padding;
            padding-right       : $padding;
            padding-top         : 6px;
            padding-bottom      : $padding;

            &--head {
                display         : flex;
                justify-content : space-between;
                align-items     : center;

                margin-top      : 6px;

                font-weight     : $font-bold;

                &-main {
                    color       : $body-bg;
                }

                &-count {
                    color      : $blue-soft;
                    margin-left: auto;

                    img {
                        width   : 30px;
                        opacity : .7;
                    }
                }
            }

            &-title {
                font-weight     : $font-bold;
                font-size       : 14px;
                color           : $grey;
                text-transform  : uppercase;

                margin-top      : 6px;
                margin-bottom   : 20px;
            }

            &-text {
                font-size       : 14px;
                line-height     : 19px;

                &--phone {
                    font-size   : 18px;
                }
            }

            &-btns {
                display         : flex;
                justify-content : center;
                align-items     : center;
                padding         : $padding;
                margin-top      : auto;

                .btn {
                    width: 100%;
                    min-width: inherit;
                }
            }
        }
    }

    &-timetable {
        $boxShadowLeft: inset -1px 0px 0px 0px rgba(#bbbbbb, .7);
        $boxShadowRight: inset 1px 0px 0px 0px rgba(#bbbbbb, .7);

        &-selector {
            display: flex;
            justify-content: space-between;

            width: fit-content;
            min-height: 35px;
            min-width: 226px;

            margin: auto;

            overflow: hidden;

            // box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.35);
            box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.14);
            border-radius: 6px;

            &--item {
                display: flex;

                // &_link {

                    display: flex;

                    a {
                        width: 100%;
                    }

                    &.datepicker {
                        align-items: center;
                        justify-content: center;
                        flex: 1;

                        text-transform: capitalize;
                        font-size: 15px;
                        color: $body-bg;

                    }

                    &.prev, &.next {
                        min-width: 35px;
                        cursor: pointer;

                        transition: all $speed-animation;

                        img {
                            max-width: 16px;
                            margin: auto;
                        }
                    }

                    &.prev {
                        box-shadow: $boxShadowLeft;
                        img {
                            transform: rotate(90deg);
                        }
                    }

                    &.next {
                        box-shadow: $boxShadowRight;
                        img {
                            transform: rotate(-90deg);
                        }
                    }

                    &:hover {
                        background-color: rgba($body-bg, .1);
                    }
                //}

            }
        }
    }

    &-documents {
        padding-left: .4rem;
        overflow-x: hidden;

        .btn-success {
            z-index: 1;
        }

        &--header {

            &_info {

                &-title {
                    color: $blue;
                    font-size: 16px;
                    font-weight: $font-semibold;
                }

                &-description {
                    font-size: 14px;
                    font-weight: 100;
                }
            }
        }
    }

    &-subscriptions {
        display                 : flex;
        flex-wrap               : wrap;
        justify-content         : center;

        width                   : 100%;
        margin                  : auto;

        &--item {
            $itemBaseClassName  : &;
            $color              : #3060b9;

            display             : flex;
            flex-direction      : column;

            min-width           : 330px;
            min-height          : 500px;
            position            : relative;
            padding             : 38px;
            border              : 2px solid #ececec;
            background-color    : rgba(white, 1);
            border-radius       : 3px;
            margin              : 15px;

            transition          : all $speed-animation-fast;

            .triangle {
                display: block;
                position: absolute;
                top: -1px;
                right: -1px;
                height: 93px;
                width: 93px;
                overflow: hidden;

                &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: $color;
                    top: -46px;
                    right: -47px;
                    z-index: 1;
                    transform: rotate(47deg);
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 40px;
                    height: 40px;
                    color: white;
                    z-index: 2;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    background-image: url('./../img/icons/star.svg');
                    background-size: 20px auto;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }

            &.special {
                box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.41)  !important;
            }

            &:hover, &.current {
                border-color: $color;
            }

            &.current {
                pointer-events: none;

                .btn-rounded {
                    pointer-events: none;
                    opacity: .7;
                    color: $blue;
                }
            }

            &_title {
                font-size: 1rem;
                font-weight: $font-semibold;
            }

            &_price {
                font-size: 2.8rem;
                font-weight: $font-semibold;
                small {
                    font-size: .6em;
                }
            }

            &_list {
                margin-top: 20px;

                &--item {
                    font-size: 1rem;
                }

                .bi {
                    $size: 24px;
                    width: $size;
                    height: $size;
                    margin-right: 4px;

                    &-x {
                        fill: $red;
                    }

                    &-check {
                        fill: $green;
                    }
                }
            }

            .btn-rounded {
                align-self: center;
                margin-top: auto;
                color: black;
                min-height: 40px;
                min-width: 150px;
                margin-top: 50px;
                border-width: 2px;
                font-weight: $font-semibold;

                &:hover {
                    border-color: $color;
                }
            }

            &_big {
                min-width: 500px;
                @media (max-width: 600px) {
                    min-width: 95vw;
                }

            }
        }
    }
}

#box-departments-form {
    .btn-close {
        right: 10px;
        bottom: 18px;
    }
}
