.form-check {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    font-style: normal;
}

/* Hide the browser's default checkbox */
.form-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: unset;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: white;
    border: 1px solid $form-checkbox-bc;
}

/* On mouse-over, add a grey background color */
.form-check:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.form-check input:checked ~ .checkmark {
    background-color: $body-bg;
    border-color: $body-bg;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.form-check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.form-check .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
