.m {
    &t {
        &-negative {
            &-1 {
                margin-top: -22px;
                @media (max-width: 768px) {
                    margin-top: inherit;
                }
            }
        }
    }
}
.pt-switch, .py-switch {
    padding-top: 1.8rem !important;
}
