@import url("https://fonts.googleapis.com/css?family=Nunito");
/* line 11, ../../resources/sass/app.scss */
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@media (max-width: 600px) {
  /* line 6, ../../resources/sass/theme-web/generics/filters.scss */
  .filter-button-section button {
    width: 100%;
    margin-bottom: 6px;
  }
}
/* line 4, ../../resources/sass/theme-web/employers/list.scss */
.employers-list .employers-detail .info-section {
  width: 80%;
  display: inline-block;
  vertical-align: top;
}
/* line 10, ../../resources/sass/theme-web/employers/list.scss */
.employers-list .employers-detail .actions-section {
  width: 19.5%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  height: 70px;
}
/* line 17, ../../resources/sass/theme-web/employers/list.scss */
.employers-list .employers-detail .actions-section .employer-action {
  padding-top: 15px;
}
/* line 20, ../../resources/sass/theme-web/employers/list.scss */
.employers-list .employers-detail .actions-section .employer-action .time-table-status {
  font-weight: 300;
  font-size: 12px;
  margin-right: 10px;
}
/* line 25, ../../resources/sass/theme-web/employers/list.scss */
.employers-list .employers-detail .actions-section .employer-action .time-table-status.status-ok {
  color: green;
}
/* line 29, ../../resources/sass/theme-web/employers/list.scss */
.employers-list .employers-detail .actions-section .employer-action .time-table-status.status-pending {
  color: #ff7600cc;
  font-weight: bold;
}
/* line 34, ../../resources/sass/theme-web/employers/list.scss */
.employers-list .employers-detail .actions-section .employer-action .time-table-status i {
  font-size: 10px;
}
/* line 42, ../../resources/sass/theme-web/employers/list.scss */
.employers-list .employers-detail .employer-img {
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  height: 70px;
}
/* line 48, ../../resources/sass/theme-web/employers/list.scss */
.employers-list .employers-detail .employer-img img {
  max-width: 50px;
}
/* line 53, ../../resources/sass/theme-web/employers/list.scss */
.employers-list .employers-detail .employer-info {
  display: inline-flex;
  vertical-align: top;
  height: 70px;
  flex-direction: column-reverse;
}
/* line 59, ../../resources/sass/theme-web/employers/list.scss */
.employers-list .employers-detail .employer-info .employer-name {
  text-transform: uppercase;
  font-weight: bold;
}
/* line 64, ../../resources/sass/theme-web/employers/list.scss */
.employers-list .employers-detail .employer-info .employer-job {
  margin: 0 10px;
  font-weight: 200;
}
/* line 69, ../../resources/sass/theme-web/employers/list.scss */
.employers-list .employers-detail .employer-info .employer-dpt {
  text-transform: uppercase;
  margin: 0 10px 0 0;
  font-size: 12px;
}

@media (max-width: 1020px) {
  /* line 83, ../../resources/sass/theme-web/employers/list.scss */
  .employers-list .employers-detail .info-section {
    width: 100%;
    display: block;
    height: auto;
  }
  /* line 89, ../../resources/sass/theme-web/employers/list.scss */
  .employers-list .employers-detail .actions-section {
    width: 100%;
    display: block;
    height: auto;
  }
}
@media (max-width: 600px) {
  /* line 101, ../../resources/sass/theme-web/employers/list.scss */
  .employers-list .employers-detail .info-section {
    text-align: center;
  }
  /* line 104, ../../resources/sass/theme-web/employers/list.scss */
  .employers-list .employers-detail .info-section .employer-img {
    width: 100%;
  }
  /* line 108, ../../resources/sass/theme-web/employers/list.scss */
  .employers-list .employers-detail .info-section .employer-info {
    height: auto;
  }
  /* line 110, ../../resources/sass/theme-web/employers/list.scss */
  .employers-list .employers-detail .info-section .employer-info span {
    display: block;
  }
  /* line 113, ../../resources/sass/theme-web/employers/list.scss */
  .employers-list .employers-detail .info-section .employer-info .employer-dpt {
    display: none;
  }
  /* line 120, ../../resources/sass/theme-web/employers/list.scss */
  .employers-list .employers-detail .actions-section .employer-action {
    padding: 0;
  }
}
/* line 19, ../../resources/sass/app.scss */
#wrapper {
  background-color: red;
}
