
//@import 'generics/main';

@import 'generics/filters';
@import 'generics/forms-generics';


/* SECTION - Employers */
@import 'employers/list';

/* SECTION - Config */
@import 'config/oficinas';
@import 'config/departamentos';
@import 'config/documentos';


/* MODALS */
@import "modals/time-table";
