#team-departamentos {
    .dpm-detail {
        .info-section {
            width: 80%;
            display: inline-block;
            vertical-align: top;
        }

        .actions-section {
            width: 19.5%;
            display: inline-block;
            vertical-align: top;
            text-align: right;
            height: 70px;

            .dpm-action {
                padding-top: 15px;

                .btn-employers {
                    color: #5a5c69;
                    text-decoration: none;
                }
            }
        }

        .dpm-logo {
            display: inline-block;
            vertical-align: bottom;
            padding: 15px;
            height: 60px;

            i {
                font-size: 1.5rem;
                height: 27px;
                VERTICAL-ALIGN: -webkit-baseline-middle;
                text-align: center;
            }
        }

        .dpm-info {
            display: inline-flex;
            vertical-align: top;
            height: 60px;
            flex-direction: column-reverse;

            .dpm-name {
                text-transform: uppercase;
                font-weight: bold;
            }

        }

    }
}

@media (max-width: 1020px) {
    #team-departamentos {
        .dpm-list {
            .dpm-detail {
                .info-section {
                    width: 100%;
                    display: block;
                    height: auto;
                }

                .actions-section {
                    width: 100%;
                    display: block;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    #team-departamentos {
        .dpm-list {
            .dpm-detail {
                .info-section {
                    text-align: center;

                    .dmp-logo {
                        width: 100%;
                    }

                    .dmp-info {
                        height: auto;
                        p {
                            height: auto;

                            span {
                                display: block;
                            }
                        }
                    }
                }

                .actions-section {
                    .dmp-action {
                        padding: 0;
                    }
                }
            }
        }
    }
}
