#team-departamentos {
    .dpm-detail {
        .info-section {
            width: 80%;
            display: inline-block;
            vertical-align: top;
        }

        .actions-section {
            width: 19.5%;
            display: inline-block;
            vertical-align: top;
            text-align: right;
            height: 70px;

            .dpm-action {
                padding-top: 15px;

                .btn-employers {
                    color: #5a5c69;
                    text-decoration: none;
                }
            }
        }

        .dpm-logo {
            display: inline-block;
            vertical-align: top;
            padding: 15px;
            height: 70px;

            i {
                font-size: 3rem;
            }
        }

        .dpm-info {
            display: inline-flex;
            vertical-align: top;
            height: 70px;
            flex-direction: column-reverse;

            .employer-name {
                text-transform: uppercase;
                font-weight: bold;
            }

            .employer-job {
                margin: 0 10px;
                font-weight: 200;
            }

            .employer-dpt {
                text-transform: uppercase;
                margin: 0 10px 0 0;
                font-size: 12px;
            }

        }

    }
}

@media (max-width: 1020px) {
    .employers-list {
        .employers-detail {
            .info-section {
                width: 100%;
                display: block;
                height: auto;
            }

            .actions-section {
                width: 100%;
                display: block;
                height: auto;
            }
        }
    }
}

@media (max-width: 600px) {
    .employers-list {
        .employers-detail {
            .info-section {
                text-align: center;

                .employer-img {
                    width: 100%;
                }

                .employer-info {
                    height: auto;

                    span {
                        display: block;
                    }

                    .employer-dpt {
                        display: none;
                    }
                }
            }

            .actions-section {
                .employer-action {
                    padding: 0;
                }
            }
        }
    }
}
